header{
    margin-top: auto;
}
body{
    background-image: url("../images/background-simplon-pattern.svg");
    background-attachment: fixed;
}
.container{
    margin: auto;
    background-color: red;
    width: auto;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}
h1{
    text-align: center;
    color: white;
}
.container0{
    background-color: white;
    width: 1.5cm;
    height: 1.5cm;
    margin-left: 65%;
    margin-top: -5%;
    padding-left: 0.5%;
    padding-top: 0.5%;
}
.container1 {
    display: inline-block;
    cursor: pointer;
    margin-top: -12%;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #f70c0c;
    color: white;
  }
  
h2{
    text-align: center;
    color: tomato;
    display: inline-block;
    margin-left: 40%;
    vertical-align: top;
}
form{
    margin-left: -53%;
    display: inline-block;
    margin-top: 1%;
    vertical-align: top;
}
.tab1{
    margin-left: 75%;
    display: inline-block;
    margin-top: -6%;
    vertical-align: top; 
}
.td1{
    background-color: indigo;
    color: white;
    padding-left: 30%;
    text-align: justify;
}
.td2{
    color: indigo;
    padding-left: 30%;
    text-align: justify;
}
table{
    text-align: center;
    background-color: white;
    margin: auto;
    border-collapse: collapse;
}
table tr th:nth-of-type(1),table tr th:nth-of-type(2){
    width: 150px;
}
table tr th:nth-of-type(4){
    width: 170px;
}
td, th{
    padding: 10px;
    border: 1px solid rgb(219, 215, 215);
}
th{
    color: red;
    line-height: 30px;
}
td{
    padding-bottom: 3%;
}
.container2{
    background-color: white;
    width: 2.5cm;
    height: 2.5cm;
    margin-left: 50%;
    margin-top: 7%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    opacity: ;
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
}
.container2 h2{
    margin-left: -15%;
    margin-top: 1%;
}
.container2 img{
margin-top: -15px;
}
@media all and (max-device-width: 360px)
{
.container{
    width: 100%;
    text-align: center;
    flex-direction: column;
    float: left;
    display: block;
}
.container0{
    justify-content: center;
    width: 25%;
    margin-left: 40%;
}
.container1{
margin-left: 5%;
width: auto;
display: inline-block;
}
h2{
    text-align: center;
    margin-left: 7%;
    display: inline-block;
}
.tab1{
display: none;
width: 1%;
height: 1%;
padding: 1%;
margin-left: 60%;
text-align: center;
margin-top: -28%;
}
.td1{
    height: 1%;
}
form{
    display: none;
}
table tr th:nth-of-type(5),table tr th:nth-of-type(6){
    display: none;
}
table tr td:nth-of-type(5),table tr td:nth-of-type(6) {
    display: none;
}
.container2{
    margin-left: 35%;
}
}